extends  layouts/LayoutTheme
include mixins/documentation/Doc
include mixins/documentation/Rtl
include mixins/documentation/Plugins
include mixins/documentation/Mixins
include mixins/common/Card
include mixins/pages/About
include mixins/pages/Services
include mixins/pages/Portfolio
include mixins/pages/Contact
include mixins/pages/Faq
include mixins/pages/Gallery
include mixins/pages/Starter
include mixins/common/Card
include mixins/pages/Blogs


block append styles
  link(href=`${CWD}vendors/swiper/swiper-bundle.min.css`, rel='stylesheet')
  link(href=`${CWD}vendors/prism/prism.css`, rel='stylesheet')



block append scripts
  script(src='https://cdn.polyfill.io/v2/polyfill.min.js?features=es6,Array.prototype.includes,CustomEvent,Object.entries,Object.values,URL')
  script(src=`${CWD}vendors/swiper/swiper-bundle.min.js`)
  script(src=`${CWD}vendors/isotope-layout/isotope.pkgd.min.js`) 
  script(src=`${CWD}vendors/isotope-packery/packery-mode.pkgd.min.js`) 
  script(src!=`https://maps.googleapis.com/maps/api/js?key=${APIGmap}&callback=initMap` async)
  script(src=`${CWD}vendors/countup/countUp.umd.js`) 
  script(src=`${CWD}vendors/bigpicture/BigPicture.js`)

append variables
  - var gridNav = 'nav-four-item-two-column';
  - var breakPoint = 'lg';
  
  -
    var navItems= [
      {
        bgColor:'nav-blue-soft',  
        bgimage:'about-8-4.png',
        icons:'diamond-8-4.png',
        navItem:'About',
        href:'#about',
      },
      {
        bgColor:'nav-purple-soft',
        bgimage:'services-8-4.png',
        icons:'thunder-8-4.png',
        navItem:'Services',
        href:'#services',
      },
      {
        bgColor:'nav-cyan-dark',
        bgimage:'contact-8-4.png',
        icons:'map-8-4.png',
        navItem:'Contact',
        href:'#contact',
      },
      {
        bgColor:'nav-indigo-soft',
        bgimage:'doc-8-4.png',
        icons:'book-8-4.png',
        navItem:'Doc',
        href:'#doc',
      },
     
      {
        bgColor:'nav-blue-dark',
        bgimage:'portfolio-8-4.png',
        icons:'trophy-8-4.png',
        navItem:'Portfolio',
        href:'#portfolio',
      },
      {
        bgColor:'nav-purple-dark',
        bgimage:'faq-8-4.png',
        icons:'bubble-8-4.png',
        navItem:'FAQ',
        href:'#faq',
      },
      {
        bgColor:'nav-cyan-soft',
        bgimage:'gallery-8-4.png',
        icons:'camera-8-4.png',
        navItem:'Gallery',
        href:'#gallery',
      },
      {
        bgColor:'nav-indigo-dark',
        bgimage:'starter-8-4.png',
        icons:'plane-8-4.png',
        navItem:'Starter',
        href:'#starter',
      },
    ];

  -
    var navLinks={ 
      about: [
        {
          title:'starter',
          href:'#starter',
        },
        {
          title:'services',
          href:'#services',
        },
      ],
      services: [
        {
          title:'about',
          href:'#about',
        },
        {
          title:'contact',
          href:'#contact',
        },
      ],
      contact: [
        {
          title:'services',
          href:'#services',
        },
        {
          title:'doc',
          href:'#doc',
        },
      ],
      doc: [
        {
          title:'contact',
          href:'#contact',
        },
        {
          title:'portfolio',
          href:'#portfolio',
        },
      ],
      portfolio: [
        {
          title:'doc',
          href:'#doc',
        },
        {
          title:'faq',
          href:'#faq',
        },
      ],
      faq: [
        {
          title:'portfolio',
          href:'#portfolio',
        },
        {
          title:'gallery',
          href:'#gallery',
        },
      ],
      gallery: [
        {
          title:'faq',
          href:'#faq',
        },
        {
          title:'starter',
          href:'#starter',
        },
      ],
      starter: [
        {
          title:'gallery',
          href:'#gallery',
        },
        {
          title:'about',
          href:'#about',
        },
      ],
    };  
    

mixin Navigations(config) 
  .col-6.col-sm-3.vh-25.vh-lg-50.position-relative.text-white.nav-hover-zoom(class=`${config.bgColor}`)
    img.nav-img(src=`${CWD}assets/img/navigation/${config.bgimage}` alt='...')
    .card-img-overlay.d-flex.flex-column.flex-center.align-items-xxl-start.justify-content-xxl-end.h-100.px-xxl-5.pb-4
      .mb-3 
        img.nav-icons(src=`${CWD}assets/img/lineicons/${config.icons}`  alt="icon")
      a.text-light.fs-1.fs-xl-2.fs-xxl-3.stretched-link.items.fw-bold.text-decoration-none( href=`${config.href}`)=config.navItem

append content
  #offcanvasStart.offcanvas.offcanvas-start.home-content.show(tabindex='-1', data-bs-backdrop="false" data-bs-scroll="true" data-base-content='home')
    +Background({ image: `${CWD}assets/img/home-blur.jpg`,className: 'opacity-25',})
    .offcanvas-body.d-flex.flex-column.flex-center.h-sm-25vh.h-lg-50vh
      .row.justify-content-center 
        .col-10.col-sm-8.col-md-9.z-index-1
          h1.fs-2.fs-sm-4.fs-md-3.fs-xxl-5.display-4 We believe in simplicity and excellence
          h5.fs-0.fs-sm-1.mt-3.mt-md-5 welcome to boots5

  #offcanvasEnd.offcanvas.offcanvas-end.home-nav.px-0.show(tabindex='-1', data-bs-backdrop="false" data-bs-scroll="true" data-base-content='nav')
    .offcanvas-body.p-0.position-lg-fixed.position-relative
      .row.vh-lg-100.g-0
        each item in navItems
          +Navigations(item)
                
  +About(navLinks.about)
  +Services(navLinks.services)
  +Contact(navLinks.contact)
  +Doc(navLinks.doc)
  +Portfolio(navLinks.portfolio)
  +Faq(navLinks.faq)  
  +Gallery(navLinks.gallery) 
  +Starter(navLinks.starter) 

block append afterMainContent
  +PortfolioModal       