mixin Stickyarea(pageTitle, saBackgroundImage, icons,navlinks)
  .sticky-top.py-4.sticky-area(data-sidebar-close='sidebar-close')
    .btn-close-boots-container.times
      .btn-close-boots
    +Background({image:`${CWD}assets/img/sidebars/${saBackgroundImage}`, className: 'sidebar-rounded'  })
    .position-relative.d-lg-flex.flex-column.justify-content-end.align-items-end.h-100.px-lg-4.px-xxl-5
      h1.text-white.text-vertical.px-5.px-lg-0.opacity-50.fs-xl-3.fs-xxl-4=pageTitle
      img.d-none.d-lg-block.line-icons(src=`${CWD}assets/img/lineicons/${icons}`  alt="icon").mt-5

      hr.my-4.w-100.d-none.d-lg-block.opacity-25
      .flex-between-center.d-none.d-lg-flex.w-100.opacity-75(data-sidebar-link='page-link')
        a.sidebar-nav.btn.btn-link.text-decoration-none.px-1(href=`${navlinks[0].href}`) 
          i.fas.fa-chevron-left.me-lg-2.me-xl-2.me-xxl-3
          span.text-capitalize=navlinks[0].title
        a.sidebar-nav.btn.btn-link.text-decoration-none.px-1(href=`${navlinks[1].href}`)
          span.text-capitalize=navlinks[1].title
          i.fas.fa-chevron-right.ms-lg-2.ms-xl-2.ms-xxl-4
