append variables
  -
    var counter= [
      {
        bg:'card-bg-line',
        title:'Lines Of Code',
        icons:'code.png',
        iconShadow:'shadow-icon-1',
        number:'64973',
        textColor:'text-gradient-blue',
      },
      {
        bg:'card-bg-coffee',
        title:'Cups of Coffee',
        icons:'coffee.png',
        iconShadow:'shadow-icon-2',
        number:'64973',
        textColor:'text-gradient-purple',
      },
      {
        bg:'card-bg-download',
        title:'Download',
        icons:'download.png',
        iconShadow:'shadow-icon-3',
        number:'64973',
        textColor:'text-gradient-pink-1',
      },

    ];

mixin Counter(config)
  .col-12.col-sm-4.mb-4.h-100
    .card.card-span.h-100(class=`${config.bg}`)
      .card-body.py-8.d-flex.flex-center
        img(src=`${CWD}assets/img/${config.icons}`  alt="..."  class=`${config.iconShadow}`) 
    
    h1.fs-lg-2.fs-xxl-4.mt-3.fw-bold.text-center(class=`${config.textColor}` data-countup!={endValue: 64973}) 0
    p.text-900.fw-bold.text-center.fs-xxl-1=config.title

mixin TeamItem(name, image, designation, width)
  .position-relative.d-flex.flex-center.flex-column
    img(src=`${CWD}assets/img/team/${image}.jpg` width=`${width}` alt="").img-fluid.rounded-circle
    h5.fw-bold.mt-3.mb-1=name
    h5.fw-normal.text-800.mb-1=designation 
    a(href="#!").stretched-link

mixin TeamContent(config)
  .card.card-span.h-100(class=`${config.bg}`)
    .card-body.py-8.d-flex.flex-center

mixin About(navlink)
  +Section('container-fluid')#about.p-0.page.d-none
    .row.justify-content-center
      .col-lg-8.col-xl-9.order-1.order-lg-0.pt-10.pt-lg-8.pt-xl-7.pt-xxl-8.pb-0.px-lg-0
        .row.flex-center#bigpicture
          .col-11.col-xl-7 
            .text-center.mb-5.mb-lg-6
              h2
                span.fw-medium The Story of 
                |  Boots5
            .position-relative   
              img.img-fluid.rounded-3(src=`${CWD}assets/img/rainbow.png`  alt="..." )    
              a.player(href='#!' data-bigpicture!={ytSrc: 'eXkYd1bbu3Q'}) 
                img(src=`${CWD}assets/img/player.png`  alt="..." )
               
            h3.pb-4.pt-5 To Infinity and Beyond! 
            p.text-1000.fs-1 At Boots5, we believe there is a way where customers are earned rather than
              |bought. We're obsessively passionate about it, and our mission is to help you

              | achieve it.

            p.text-800.mb-5 Boots5 was founded by ThemeWagon Team in 1896. It was called the world's first bootstrap four
              br
              |template, and started as a Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsam illo, magni 
              br
              |aut recusandae perspiciatis quam sed eveniet, debitis tempore natus corrupti nostrum deserunt,
              br
              | harum in dolor dolorem sit voluptatum iusto. recusandae perspiciatis quam sed eveniet, debitis 
              br
              |tempore natus corrupti nostrum recusandae perspiciatis quam sed eveniet, debitis tempore. 

            .row.flex-center.pt-3.g-xxl-5#fun-facts
              each item in counter
                +Counter(item) 

            .row.justify-content-center.pt-6.g-2
              .text-center.mb-5.mb-lg-6
                h2.fs-2.fs-sm-3  
                  span.fw-medium Meet &nbsp;
                  | Our Team
              .col-lg-11.col-xxl-9
                .row.justify-content-center
                  .col-6.mb-5
                    +TeamItem('Alex Butler', 1, 'Fraud Manager',242)
                  .col-6.mb-5
                    +TeamItem('Andreas Heim', 2, 'Software Engineer',242)
                  .col-6.col-sm-4.col-auto.mb-5
                    +TeamItem('Amanda Alleson', 3, 'UX Designer',133)
                  .col-6.col-sm-4.col-auto.mb-5
                    +TeamItem('Brandon Renfrow', 4, 'Developer',133)
                  .col-6.col-sm-4.col-auto.mb-5
                    +TeamItem('Brian Childs', 5, 'Training Manager',133)
                  .col-6.col-sm-4.col-auto.mb-5
                    +TeamItem('Britney Muller', 6, 'SEO Scientist',133)
                  .col-6.col-sm-4.col-auto.mb-5
                    +TeamItem('Casey Coates', 7, 'Software Engineer',133)
                  .col-6.col-sm-4.col-auto.mb-5
                    +TeamItem('Dana', 8, 'Bug Hunter',133)  

        +Cta('cta-about.png','btn-boots-warning').mb-2
        +Footer('bg-soft-blue','text-gradient-blue-soft','text-primary')
      .col-lg-4.col-xl-3.position-absolute.position-lg-relative.ps-lg-0
        +Stickyarea('About Us', 'about.png', 'diamond.png',navlink)